reminder medicine intake
in doctor page, show info of patient
upload picture of patient


fXhQ9N6VQIKA3vQyOK2ccZ:APA91bFWvZ2nCRubt5XB2BqEBCTCyJd_0INP-HGbUDrtPTQyeLxYKTSfv-wJhNT1yICvieJPdGOepB9XXsAXyr3tDO6f5v-t4u0Ufpv96aYUCRG_idp1S0QjKh2__q8OGl2Pn1z61DBr